@font-face {
  font-family: "Syne";
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Syne&display=swap');
}
@font-face{
  font-family:"Montserrat";
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
}