/* Fonts */
@import url(./fonts.css);

/* End of Fonts */

/* Colors */
:root {
  --background-color: #c9f2c7;
  --fonts-color: #243119;
  --cor-do-label: #f0ffff94;
}

/* End of colors */

/* Resete of page */
* {
  padding: 0;
  margin: 0;
}

/* End of page */

/* Page overview */
body,
html {
  background-color: var(--background-color);
  font-family: 'Syne';
}

/* End of page overview */

/* Navegation bar */
nav {
  padding: 30px;
}

.nav-menu {
  margin-top:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu ul {
  float: right;
}

.nav-menu ul li {
  display: inline-block;
}

.nav-menu ul li:not(:first-child) {
  margin-left: 40px;
}

.nav-menu ul li a {
  color: var(--fonts-color);
  outline: none;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1vw;
  letter-spacing: 1.2px;
  font-weight: 600;
}

.nav-menu a:hover:after {
  width: 100%;
  transition: width 0.3s linear;
}

.login ul {
  float: right;
}

.login ul li {
  display: inline-block;
}

.login ul li a {
  padding:8px;
  color: var(--fonts-color);
  outline: none;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1vw;
  letter-spacing: 1.2px;
  font-weight: 600;
}

.logo {
  width: 72vw;
  margin-top: -10px;
}

.logo a {
  color: var(--fonts-color);
  outline: none;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1vw;
  letter-spacing: 1.2px;
  font-weight: 600;
}

.hidden {
  display: none;
}

/* Fim da navegação */
